﻿@charset "utf-8";
html, body, .wrapper {
width: 100%;
float: left;
}

html {
box-shadow: -265px 43px #2F526B inset, 245px 0 #2F526B inset;
}
body {
background: #F1F2F5;
font-family: 'Ubuntu', tahoma, sans-serif;
letter-spacing: -0.2px;
}

.wrapper {
    display: -webkit-flex;
    display: flex;
}
#right-wrap {
display: -webkit-flex;
display: flex;
width: calc(100% - 250px);
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
-o-transition: all 0.3s;
transition: all 0.3s;
float: right;
}
#page {}
#page-wrapper {
width: calc(100% - 1em);
box-shadow: 0px -5px rgb(42, 69, 88), -5px -5px rgb(42, 69, 88), -5px 0 rgb(42, 69, 88), 5px 0 rgb(42, 69, 88), 5px -5px rgb(42, 69, 88);
background: none repeat scroll 0% 0% rgb(241, 242, 245);
padding: 0.5em;
margin-top: 48px;
height: auto;
min-height: calc(100% + 0.9em - 78px);
z-index: 9;
float: left;
}

a {
text-decoration: none;
}
a:focus {
outline: none;
}
hr {
border: 1px solid rgba(0, 0, 0, 0.04);
margin: 20px 0 20px 0;
}

.logo {
background: url(../img/tpl/logo.png) no-repeat bottom center;
height: 50px;
padding-top: 37px;
}

.smalltext {
font: 10px ubuntu;
color: #5c7e99;
text-align: center;
letter-spacing: 0.2px;
word-spacing: 1px;
}
.left {
float:left;
}
.right {
float:right;
}
.formnote {
font: 13px ubuntu;
color: #888;
font-style: italic;
background: rgba(0, 0, 0, 0.05);
padding: 20px 10px;
border: 1px solid #ddd;
}

#header {
background: url(../img/tpl/sb_top.png) no-repeat top left;
width: 244px;
height: 123px;
}

#sidebar {
min-height: 100%;
width: 245px !important;
z-index: 10 !important;
height: auto;
top: 0;
display: inline-block;
float: left;
background: #2F526B;
margin-right: 5px;
-webkit-transition: margin-left 0s;
-moz-transition: margin-left 0s;
-ms-transition: margin-left 0s;
transition: margin-left 0s;
}

/* second sidebar */
#sidebar2 {
display: none;
box-sizing: border-box;
-moz-box-sizing: border-box;
padding: 10px;
width: 270px !important;
z-index: 10 !important;
margin-top: 43px;
float: right;
/* To enable this second sidebar, set it to block via javascript and add content using it as well the animation preferred if togglable*/
}
#errorcontain {
display: table;
}
#errorcontain > div {
display: -moz-deck;
}
.sb-title {
font-size: 15px;
color: #fff;
text-align: center;
font-weight: bold;
margin-bottom: 10px;
}
.sb-title div[class^="statuscolor"] {
display: inline-block;
margin-left: -4px;
position: relative;
width: 21px;
height: 21px;
margin-right: 2px;
background-size: 62%;
margin-bottom: -6px;
}
.sb-lightbg {
padding: 10px 20px;
background: #487693;
color: #fff;
border: 3px solid rgba(0, 0, 0, 0.08);
}
.sb-progresstitle {
width: 100%;
margin-top: 8px;
}
.sb-progresstitle span {
text-align: right;
float: right;
}
.progressContain {
background: rgba(0, 0, 0, 0.21);
width: 100%;
height: 5px;
border-radius: 0px;
padding: 3px;
margin: 2px 0 14px 0;
box-shadow: 0 1px rgba(255, 255, 255, 0.1);
}
.progressbar {
height: 100%;
width: 0%;
border-radius: 5px;
background: url(../img/tpl/stripes.png) repeat-x top left;
box-shadow: 0 -3px rgba(0, 0, 0, 0.18) inset;
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
-o-transition: all 0.3s;
transition: all 0.3s;
}
.progress-overlay {
width: 100%;
height: 100%;
content: '';
display: block;
border-radius: 5px;
opacity: 0.5;
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
-o-transition: all 0.3s;
transition: all 0.3s;
}
.sb-smalltitle {
text-align: center;
color: #fff;
font-weight: bold;
}



#sidebar a, #sidebar a:visited, #sidebar a:active {
color: #fff;
}
#sidemenu a, #sidemenu a:visited, #sidemenu a:active {
width: 100%;
display: block;
padding: 10px 0;
}

#sidemenu > ul > li {
min-height: 23px;
background: #274459;
margin-top: 8px;
font: 16px ubuntu;
line-height: 23px;
text-indent: 40px;
font-weight: bold;
}
#sidemenu ul {
padding: 0px;
margin: 0;
}
ul.navsub {
display: none;
}
.navsub li {
text-indent: 65px !important;
}
ul.navsub li.active {
background: #f1f2f5 !important;
}
ul.navsub li.active:after {
position: relative;
content: '';
height: 43px;
display: block;
margin-top: -48px;
left: 245px;
background: #f1f2f5 !important;
width: 5px;
}
li.navcat:before {
content: '';
display: block;
float: right;
top: 13px;
position: relative;
right: 7px;
width: 17px;
height: 17px;
border-radius: 3px;
background: url(../img/tpl/icon_arrow_down.png) no-repeat center center rgba(0, 0, 0, 0.15);
pointer-events: none;
}
ul.navsub li.active a {
color: #5a5a5a !important;
border-bottom: 5px solid #274459;
}
.navIco {
    width: 0px;
    margin-left: -32px;
    text-indent: 0px;
    font-size: 14px;
    margin-right: 11px;
    display: inline;
}

#profilebox {
width: 152px;
text-align: left;
text-indent: 10px;
display: inline-block;
margin-left: 53px;
}
#profilebox > a:first-child {
background: #274459;
padding: 6px 0px;
font-size: 15px;
font-family: "Ubuntu";
color: rgb( 255, 255, 255 );
line-height: 1.267;
text-shadow: 1px 1.732px 3px rgba(0, 0, 0, 0.33);
border-radius: 5px;
box-shadow: 0 1px rgba(255, 255, 255, 0.11);
width: 100% !important;
display: block;
text-align: left;
}
#profilebox > a:first-child:after {
background: url(../img/tpl/icon_arrow_down.png) no-repeat center center transparent;
content: '';
display: inline-block;
width: 7px;
height: 6px;
float: right;
margin-top: 6px;
margin-right: 10px;
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
-o-transition: all 0.3s;
transition: all 0.3s;
}
#profilebox.open > a:first-child:after {
-webkit-transform: rotate(180deg);
-moz-transform: rotate(180deg);
-o-transform: rotate(180deg);
transform: rotate(180deg);
}
.profilemenu {
background: #274459;
margin-top: 3px;
line-height: 29px;
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
-o-transition: all 0.3s;
transition: all 0.3s;
border-radius: 5px;
overflow: hidden;
margin-bottom: 15px;
box-shadow: 0 -1px rgba(255, 255, 255, 0.17) inset, 0 1px rgba(0, 0, 0, 0.2) inset;
}
.profilemenu a {
width: 100%;
display: block;
}
.profilemenu a:hover {
text-decoration: underline;
}
.profilemenu li {
height: 24px;
margin-bottom: 11px;
}
.statusTxtInfo {
line-height: 21px;
}

#SearchSystem {
color: #e3e3e3;
background: url(../img/tpl/icon_search.png) 13px 10px no-repeat #274459;
height: 28px;
width: 220px !important;
margin-left: 8px;
text-indent: 40px;
border-radius: 5px;
font: 16px ubuntu;
border: 0px;
margin-bottom: 10px;
}

.outlined {
border: 1px solid #DFDFDF !important;
border-radius: 5px;
padding: 0.4em;
}

h2 {
font-size: 16px;
font-weight: bold;
color: #487693;
}

#licenseNotif {
position: absolute;
margin-right: 10px;
right: 0;
top: 10px;
font-size: 9px;
}
#licenseNotif a {
color: #FFFABB !important;
line-height: 13px;
font-weight: bold;
}

.inlineB {
display: inline-block !important;
}

.statuscoloronline {
background: url(../img/tpl/online.png) no-repeat center center;
width: 21px;
height: 129px;
position: absolute;
margin-left: -39px;
margin-top: -6px;
}
.statuscoloroffline {
background: url(../img/tpl/offline.png) no-repeat center center;
width: 21px;
height: 129px;
position: absolute;
margin-left: -39px;
margin-top: -6px;
}

.towel {
display: block;
clear: both;
width: 100%;
height: 10px;
}
.centered {
margin-left: auto;
margin-right: auto;
display: block;
}
.text-centered {
text-align: center;
}
.nofluid{
margin-right: 1px;
}

.alert {
width: calc(100% - 77px);
font-size: 15px;
color: #fff !important;
text-shadow: 0 1px rgba(0,0,0,.38);
text-align: left !important;
padding: 13px;
padding-right: 63px;
}
.alert:not(.static-alert) {
cursor: pointer;
}
.alert .smalltext {
text-align: left;
color: #fff;
}
.alert.errorbox {
background: url(../img/tpl/error_bg.png) no-repeat center right, #e87f7c;
border: 1px solid #cf716d;
}
.alert.warningbox, .alert.cautionbox {
background: url(../img/tpl/warn_bg.png) no-repeat center right, #777;
border: 1px solid #555;
}
.alert.successbox {
background: url(../img/tpl/success_bg.png) no-repeat center right, #7dd8a0;
border: 1px solid #6dcfa0;
}
.alert.warningbox a, .alert.errorbox a, .alert.cautionbox a {
color: rgb(255, 245, 0);
}
.alert.successbox a {
color: rgb(205, 255, 167);
}
.whitebox {
background: #fff;
border-radius: 5px;
padding: 0.8em;
color: #797979;
font: 14px ubuntu, sans-serif;
line-height: 19px;
letter-spacing: -0.2px;
box-sizing: border-box;
-moz-box-sizing: border-box;
}
#tabConTxt {
width: 100%;
display: inline-block;
box-sizing: border-box;
-moz-box-sizing: border-box;
}
#tabConTxt.noBorder {
border: 0px;
box-shadow: 0 0;
}
.fluidbox {
box-sizing: border-box;
-moz-box-sizing: border-box;
float: left;
display: inline-block;
}
h3 {
padding: 10px;
margin-top: 0;
color: #747474;
text-shadow: 0 1px 3px rgba(235, 235, 235, 1);
}

.statusbox {
background: url(../img/tpl/statboxbg.png) no-repeat top left rgba(57,93,116,1);
color: #fff;
text-align: left;
padding-left: 52px !important;
padding: 8px;
font-size: 14px;
line-height: 16px;
display: inline-block;
width: 100%;
height: 135px;
box-shadow: 0 -4px rgba(0, 0, 0, 0.17) inset;
}
.srvstatload {
display: inline-block;
}

#serverstatscontain p, #serverstatscontain h3, .alert p, #sidemenu ul.navsub {
margin: 0;
}
.profilemenu ul {padding:0px;margin:0px;}
/*#serverstatscontain {
display: -webkit-flex;
display: flex;
justify-content: space-around;
align-content: center;
-webkit-flex-flow: row wrap;
flex-flow: row wrap;
}*/
#serverstatscontain > a {
width: 33.333%;
box-sizing: border-box;
-moz-box-sizing: border-box;
border: 10px solid transparent;
display: inline-block;
}
#serverstatscontain > a:hover:not([href*="addserver"]) {
background: white;
}
#serverstatscontain h3 {
padding: 0;
margin: 0 0 11px 0;
color: #fff;
text-shadow: 0 0 #000;
}
div[id^="memChart"] {
margin-right: 3px;
}
.nullChart {
background: #335367;
border-radius: 54px;
margin-top: 13px;
}
.nullChart.statuschart:before {
width: 104px;
height: 105px;
margin: 0px !important;
}
.nullChart div:nth-child(3) {
margin-top: 22px;
}
#addServer {
background: rgba(0, 0, 0, 0.02);
border: 2px dashed rgba(0, 0, 0, 0.07);
box-sizing: border-box;
-moz-box-sizing: border-box;
text-align: center;
line-height: 121px;
font-size: 69px;
color: rgba(0, 0, 0, 0.1);
height: 135px;
width: 100%;
display: table;
}
#addServer:hover {
background: rgba(0, 0, 0, 0.01);
border-color: rgba(0,0,0,0.05);
color: rgba(0, 0, 0, 0.05);
}

.well {
width: 100%;
margin: 10px 0px;
padding: 10px 0px !important;
text-align: center;
border-right: 0px solid transparent !important;
border-left: 0px solid transparent !important;
display: inline-table;
margin-left: -0.5em;
border: none !important;
border-bottom: 1px solid #ddd !important;
border-top: 1px solid #ddd !important;
background: #fff;
}
#page > .well {
width: calc(100% + 01em) !important;
}

.inset-text {
text-align: center;
color: rgba(0, 0, 0, 0.19);
font-weight: bold;
text-shadow: 0 1px rgba(255, 255, 255, 0.89), 0 0px rgba(0, 0, 0, 0.08);
}


/* Tabs */
.tab {
display: inline-block;
background: #2A4558;
padding: 6px 18px;
border: 5px solid #2A4558;
border-bottom-width: 0px;
margin-right: 10px;
float: left;
cursor: pointer;
color: #fff;
border-top-width: 0px;
margin-top: 5px;
font-size: 14px;
font-weight: bold;
letter-spacing: 0;
height: 16px;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
user-select: none;
}
.tab span {
display: inline;
}
.tab i {
font-size: 14px;
float: left;
margin-right: 7px;
line-height: 17px;
}
.tab.cur {
border-top-width: 5px;
background: #F1F2F5;
margin-top: 0px;
color: #7b7b7b;
}
.tabs {
clear: both;
}
.tabs.primarytabs {
position: absolute;
height: 35px;
display: flex;
top: 15px;
left: 245px;
overflow-x: auto;
overflow-y: initial;
}
div#tabCon[class^="con"] {
display: none;
}


/* Forms */
h3.title {
text-align: left;
color: #555;
border-bottom: 1px solid #EEE;
padding: 0 3px 10px 3px;
font-size: 15px;
}
.st-form-line {
padding: 10px;
color: #000;
}
.st-form-line:nth-child(even){
background: rgba(0, 0, 0, 0.04);
}
span.st-labeltext {
width: 200px;
display: inline-block;
text-align: right;
margin-right: 10px;
font-weight: bold;
color: #666;
}

input[type="email"], input[type="number"], input[type="password"], input[type="tel"], input[type="url"], input[type="text"],keygen, select, select[size="0"], select[size="1"] {
border-radius: 3px;
border: 1px solid #ccc;
padding: 4px;
box-shadow: 0 0 2px rgba(0, 0, 0, 0.07) inset;
-webkit-transition: all 0.15s;
-moz-transition: all 0.15s;
-o-transition: all 0.15s;
transition: all 0.15s;
}
input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="tel"]:focus, input[type="url"]:focus, input[type="text"]:focus, keygen:focus, select:focus, select[size="0"]:focus, select[size="1"]:focus {
box-shadow: 0 0 2px rgba(0, 224, 255, 0.5) inset, 0 0 4px rgba(0, 224, 255, 0.25);
border: 1px solid rgba(0, 163, 255, 0.5);
}

option {
background: white;
color: #000;
}
.pure-button {
box-shadow: 0 -3px rgba(0, 0, 0, 0.21) inset, 0 1px rgba(255, 255, 255, 0.23) inset;
border-radius: 4px;
background-color: rgb(124, 198, 240);
color: #fff;
text-shadow: 0 1px rgba(0, 0, 0, 0.3);
box-sizing: border-box;
-moz-box-sizing: border-box;
padding: 0.4em 1em calc(0.4em + 3px) 1em;
border: 1px solid rgba(0, 0, 0, 0.19);
}
.pure-button-active, .pure-button:active {
box-shadow: 0 -3px rgba(0, 0, 0, 0.21) inset, 0 1px rgba(255, 255, 255, 0.23) inset;
background-image: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.05) 40%, transparent);
}
.button-blue {
background-color: #7CC1E8 !important;
}
.button-red {
background-color: #DF4444 !important;
}
.button-green {
background-color: #66BE78 !important;
}
.button-orange {
background-color: #EB8C5F !important;
}
.button-yellow {
background-color: #FFDB4D !important;
}
.button-gray {
background-color: rgb(90, 90, 90) !important;
}
input#button,input[type="submit"] {
color: #0E1A22;
min-width: 100px;
min-height: 30px;
font-weight: bold;
border: none;
border-radius: 3px;
cursor: pointer;
background: #51A9E9;
border: 0px;
padding: 8px 20px;
box-shadow: 0 1px rgba(255, 255, 255, 0.17);
-webkit-transition: 0.25s all;
-moz-transition: 0.25s all;
-o-transition: 0.25s all;
transition: 0.25s all;
}
input#button:hover, input[type="submit"]:hover {
background: #51A9E9;
border-width: 0px;
outline: none !important;
}
#page input#button,input[type="submit"] {
color: #FFFFFF;
box-shadow: 0 -3px rgba(0, 0, 0, 0.41) inset;
}
#page input#button:active, input[type="submit"]:active {
box-shadow: 0 0 rgba(0, 0, 0, 0.41) inset;
position: relative;
margin-top: 3px;
}

#footer {
    clear: both;
}

/* Login form */
body.login {
background: url(../img/tpl/pagehighlight.png) no-repeat top center #2f526b;
width: 100%;
position: absolute;
}
#containlogin {
display: block;
height: 203px;
width: 387px;
text-align: center;
position: absolute;
left: 50%;
top: 50%;
margin-left: -194px;
margin-top: -101px;
}
body.login .logo {
background: url(../img/tpl/logo.png) no-repeat bottom center;
height: 50px;
padding-top: 37px;
width: 154px;
}
body.login form#form1 {
background: url(../img/tpl/loginbg.png) no-repeat top left;
width: 347px;
height: 191px;
margin: 0 auto;
padding: 6px 20px;
}
body.login form#form1:before {
content: '';
background: url(../img/tpl/loginbg_shadow.png) no-repeat top left;
width: 497px;
height: 327px;
display: block;
position: fixed;
margin-top: 0px;
margin-left: -75px;
z-index: -1;
}
body.login form#form1 input#textfield {
margin: 0px auto 9px auto;
width: 200px;
display: block;
background: rgba(0, 0, 0, 0.33);
border: 0px;
padding: 9px 20px;
box-shadow: 0 1px rgba(255, 255, 255, 0.17);
text-align: center;
font: 16px ubuntu;
line-height: 17px;
color: #fff;
}
::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-placeholder {
color: #1d303d !important;
text-shadow: 0 1px rgba(255, 255, 255, 0.06) !important;
}
body.login .copyright {
  font-size: 13px;
  color: #5e8cab;
  line-height: 1.462;
  text-align: center;
  text-shadow: 0px 1px 0px rgba( 0, 0, 0 , 0.4);
  position: absolute;
  bottom: 10px;
  width: 100%;
}

#loading {
position: fixed;
z-index: 999;
background: rgb(56, 56, 56);
left: 50%;
width: 60px;
height: 41px;
text-align: center;
padding-top: 13px;
color: #fff;
border-radius: 5px 5px 0 0;
border-top-width: 0;
box-shadow: 0 4px 0px rgba(0, 0, 0, 0.3) inset;
bottom: 0;
margin-bottom: -60px;
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
-o-transition: all 0.3s;
transition: all 0.3s;
}
#page.loadingtxt {
text-align: left;
display: inline-block;
float: left;
}

/* About page */
.noteworthyLink {
padding: 10px;
background: #30556E;
color: #FFF !important;
border: 4px solid rgb(255, 255, 255) !important;
text-align: center;
border-radius: 7px !important;
-webkit-transition: all 0.1s;
-moz-transition: all 0.1s;
-o-transition: all 0.1s;
transition: all 0.1s;
}
.noteworthyLink:hover {
box-shadow: 0 -10px 0 rgba(0, 0, 0, 0.28) inset;
}
.noteworthyLink a{
color: #fff;
text-decoration: underline;
}


/* Tables */
table{
border-collapse: collapse;
}
#page table thead {
background: #41627A;
line-height: 10px;
color: #FFFFFF;
text-shadow: 0 1px rgba(0, 0, 0, 0.72);
}
#page table thead th, table thead td {
padding: 10px 18px;
border-bottom: 1px solid #444;
border-left: 2px groove rgba(95, 128, 163, 0.33);
}
table thead th:first-child, table thead td:first-child {
border-left: 0px solid white;
}
table a {
color: #6EA1C5;
}
.pure-table td {
background-color: #F1F1F1;
}
#page table:not(.striped-table) tbody tr {
height: 42px;
}
#page table:not(.striped-table) tbody tr:nth-child(even) td {
box-shadow: 0 4px rgba(0, 0, 0, 0.07) inset;
background: #F7F7F7;
}
#page table:not(.striped-table) tr {
border-left: 1px solid #466174 !important;
border-right: 1px solid #466174 !important;
}
table.dataTable {
border-collapse: collapse !important;
}
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
color: #FFF;
text-shadow: 0 1px rgba(0, 0, 0, 0.54);
padding: 0px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
line-height: 23px;
padding: 0px 10px;
margin-left:0px;
}
.dataTables_wrapper {
width: 100%;
}
.dataTables_paginate {
height: auto !important;
line-height: 25px;
margin-top: 6px;
background: rgba(0, 0, 0, 0.2);
border-radius: 4px;
font-size: 13px;
box-shadow: 0 1px rgba(255, 255, 255, 0.17);
}
.paginate_button {
height: 26px;
line-height: 8px;
}
.table-top, .table-bottom {
background: #4A6C85;
min-height: 39px;
line-height: 39px;
box-shadow: 0 0 2px #000 inset, 0 2px rgba(255, 255, 255, 0.28) inset;
padding: 0px 10px;
border-radius: 0;
color: #fff;
z-index: 2;
}
.table-bottom {
box-shadow: 0 0px 2px #000 inset;
margin-bottom: 20px;
}
.table-top input[type="search"] {
text-indent: 6px;
font-size: 15px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
color: #fff !important;
background: rgba(0, 0, 0, 0.08);
border: 0px;
}
.dataTables_length select, .dataTables_filter input {
background: rgba(0, 0, 0, 0.21);
border: 0px;
border-bottom: 1px solid rgba(255, 255, 255, 0.3);
padding: 2px;
margin: 0 3px;
color: #fff;
border-radius: 2px;
}
table.dataTable tbody td {
border-right: 2px groove rgba(255, 255, 255, 0.06);
}
table.dataTable tbody tr td:last-child {
border-right: 1px solid #466174 !important;
}
table.dataTable tbody tr:last-child {
border-bottom: 2px solid #466174 !important;
}
table.dataTable tbody tr:first-child td {
border-top: 1px solid #466174;
word-break: break-word;
}
table.dataTable, table.dataTable th, table.dataTable td {
box-sizing: border-box;
-moz-box-sizing: border-box;
}
table.dataTable.no-footer {
border: none;
}

table.dataTable thead .sorting {
background: url("../img/tpl/sort_both.png") no-repeat center right;
}
table.dataTable thead .sorting_desc {
background: url("../img/tpl/sort_desc.png") no-repeat center right;
}
table.dataTable thead .sorting_asc {
background: url("../img/tpl/sort_asc.png") no-repeat center right;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
color: #203646 !important;
text-shadow: 0 1px rgba(255, 255, 255, 0.12);
}
.dataTables_wrapper .dataTables_paginate .paginate_button:active {
box-shadow: 0 0;
background: rgba(0, 0, 0, 0.17) !important;
}

#page table:not(.striped-table) thead tr th:last-child {
border-right: 1px solid #466174 !important;
}
/*#page table:not(.striped-table):after {
content: '';
position: absolute;
border: none;
margin-top: 0;
left: 0;
width: 100%;
background: #54748c;
display: block;
height: 11px;
border-bottom: 2px solid #2E4B61;
box-shadow: 0 -3px 0px rgba(0, 0, 0, 0.08) inset;
border-radius: 0 0 5px 5px;
z-index: 1;
}*/

table:not(.striped-table) thead tr th[class*="sorting"] {
cursor: pointer;
}
thead tr th[class*="sort"] {
background: url(../img/tpl/icon_arrow_down.png) no-repeat center right 13px;
}
#page table:not(.striped-table) thead th:first-child, table thead td:first-child {
border-left: 1px solid #466174;
}
.pure-g [class*="pure-u"] {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
border: 0.5em solid rgba(255, 0, 0, 0);
}
.pure-u-1 {
width: 100%;
}


/* Modal table */
.simplemodal-container table tr {
margin-bottom: 10px;
display: block;
}


/* Striped table */
table.striped-table {
color: #a8a8a8;
}
table.striped-table tbody tr:nth-child(odd) td {
background: rgba(0, 0, 0, 0.04);
}
table.striped-table tbody tr:nth-child(even) td {
background: transparent;
box-shadow: 0 0 white;
}
table.striped-table tbody tr td {
display: table-cell;
font-weight: bold;
line-height: 7px;
padding: 10px;
}
table.striped-table tbody tr {
border: 0px none !important;
height: 34px !important;
line-height: 0px;
text-align: left;
}

/* small striped table */
table.small-striped {
width: 100%;
border-collapse: collapse;
font-weight: bold;
font-size: 13px;
}
table.small-striped thead tr {
background: transparent;
color: #1b3140 !important;
font-weight: bold;
}
table.small-striped tr td + td{
text-align: center;
}
table.small-striped tr {
border: none !important;
height: 22px;
}
table.small-striped thead {
background: transparent;
}
table.small-striped thead tr td {
padding: 0 7px;
border: none !important;
}
table.small-striped tbody tr:nth-child(even) td {
box-shadow: none;
background: transparent;
}
table.small-striped tbody tr td {
color: #fff;
padding: 3px 7px;
}
table.small-striped tbody tr:nth-child(odd) td {
background: rgba(0, 0, 0, 0.07);
border-bottom: 1px solid rgba(255, 255, 255, 0.03);
border-top: 1px solid rgba(0, 0, 0, 0.05);
}

/* Debug */
.simplebox {/* Checks for simplebox divs, which need to be fixed */
background:red !important;
}
.titleh {/* This is to check for titleh elements that need to be reformatted */
text-align: center;
color: red !important;
font-weight: bold !important;
background: red !important;
}
.box-100 {
width: 98% !important;
margin: 1%;
background:red !important;
}
.box-50 {
width: 48% !important;
display: inline-block;
float: left;
margin: 1%;
background: red !important;
}


/* VPS view */
.vpsbutton {
width: 60px !important;
height: 60px !important;
border-radius: 2px;
box-shadow: 0 -5px rgba(0, 0, 0, 0.11) inset;
text-align: center;
opacity: 0.8;
cursor: pointer;
display: inline-block;
margin: 17px 10px;
}
.vpsbutton:hover {
opacity: 1;
}
.vpsbutton.green {
background: #00ffd0;
}
.vpsbutton.black {
background: #333;
}
.vpsbutton.blue {
background: #00d8ff;
}
.vpsbutton.orange {
background: #ff8400;
}
.vpsbutton.red {
background: #ff5d42;
}
.vpsbutton .fa {
color: rgba(0, 0, 0, 0.28);
font-size: 26px;
line-height: 55px;
}
p.vpsbtnname {
position: relative;
margin-top: 8px;
}

/* Pure styling */
form.pure-form {
background: #FFF;
border-radius: 3px;
padding: 10px;
}
.pure-form fieldset {
border: 1px solid #E0E0E0;
margin-left: -10px;
padding: 10px;
border-radius: 3px;
}
#page .pure-form input[type=text], #page .pure-form input[type=password], #page .pure-form input[type=email], #page .pure-form input[type=url], #page .pure-form input[type=date], #page .pure-form input[type=month], #page .pure-form input[type=time], #page .pure-form input[type=datetime], #page .pure-form input[type=datetime-local], #page .pure-form input[type=week], #page .pure-form input[type=number], #page .pure-form input[type=search], #page .pure-form input[type=tel], #page .pure-form input[type=color], #page .pure-form select, #page .pure-form textarea, #page .chosen-container {
display: inline-block;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
border: 1px solid #ccc;
box-shadow: 0 0 6px rgba(0, 0, 0, 0.05) inset;
min-height: 35px;
line-height: 21px;
font-size: 15px;
width: 65%;
text-indent: 3px;
}
.pure-form-aligned .pure-control-group label {
width: 30%;
margin: 0 3% 0 0;
}
.pure-form-aligned .pure-control-group {
margin: 0.5em 0 0.5em 0 !important;
}
.button-xsmall {
font-size: 70%;
}
.button-small {
font-size: 85%;
}
.button-large {
font-size: 110%;
}
.button-xlarge {
font-size: 125%;
}
.button-inline {
width: 100%;
box-sizing: border-box;
-moz-box-sizing: border-box;
}

.pure-g [class *="pure-u"] .pure-form select:focus {
border-width: 1px;
}
.pure-g [class *="pure-u"] .pure-form select {
border: 1px solid #ccc;
}
.pure-form legend {
width: 100%;
padding: .3em 0;
color: #333;
border-bottom: 1px solid #e5e5e5;
top: -14px;
position: relative !important;
}
.chosen-container-active.chosen-with-drop .chosen-single div b {
background-position: -18px 6px !important;
}
.chosen-container-single .chosen-single div b {
background: url(chosen-sprite.png) no-repeat 0 6px !important;
}


/* Modal */
#simplemodal-container {
background: #FFF;
border-radius: 3px;
border: 7px solid #F9F9F9;
box-shadow: 0 -10px rgba(0, 0, 0, 0.02) inset;
}
#simplemodal-container a.modalCloseImg {
background: #F9F9F9;
border-radius: 15px;
width: 30px;
height: 30px;
background-position: center center;
}
#simplemodal-container a.modalCloseImg:after {
content: "\f057";
font-family: 'FontAwesome';
text-align: center;
width: 30px;
display: block;
height: 30px;
line-height: 30px;
font-size: 23px;
color: #96B6CE;
}
#simplemodal-container a.modalCloseImg:hover:after {
color: rgb(122, 122, 122);
}


/* shortcut icons */
.shortcuts-icons {
float: right;
background: #425B6E;
color: #fff;
padding: 0;
border-radius: 3px;
box-shadow: 0 3px rgba(0, 0, 0, 0.11) inset;
border: 1px solid #344C5F;
height: 32px;
}
.shortcuts-icons a {
cursor: pointer;
height: 100%;
display: inline-block;
}
.shortcuts-icons a i {
line-height: 32px;
padding: 0 10px;
}
.shortcuts-icons a i:hover {
background: rgba(0, 0, 0, 0.11);
}
td a.icon-button {
color: #425B6E;
font-size: 19px;
margin: 0 5px;
}
.icon-button {
cursor: pointer;
}
td a.icon-button:hover {
color: #5E89AA;
}


/* Chosen styling */
.chosen-container {
font-size: inherit;
}
.chosen-search input {
min-width: 100% !important;
padding: 4px !important;
min-height: 32px !important;
}
.chosen-container-single .chosen-search input[type=text] {
background: #fff url(chosen-sprite.png) no-repeat 100% -16px !important;
background: url(chosen-sprite.png) no-repeat 100% -16px !important;
background-clip: content-box !important;
}
.chosen-container-active.chosen-with-drop .chosen-single {
border: none !important;
background-image: none !important;
box-shadow: none !important;
line-height: 33px;
}
.chosen-container .chosen-drop {
-webkit-box-sizing: content-box !important;
-moz-box-sizing: content-box !important;
box-sizing: content-box !important;
width: 100%;
border-color: #CACACA !important;
border-top-width:0px !important;
box-shadow: 0 1px 1px rgba(0,0,0,.15) !important;
}
.chosen-container.chosen-with-drop .chosen-drop {
left: -1px;
}
div [id *= "_chosen"] {
width: 65% !important;
}

#sbtoggle {
display: none;
width: 47px;
height: 37px;
float: right;
position: relative;
margin-top: 0px;
margin-right: -50px;
cursor: pointer;
text-align: center;
font-size: 28px;
color: #152530;
text-shadow: 0 1px rgba(255, 255, 255, 0.06);
padding-top: 9px;
background: #2F526B;
box-shadow: -5px -5px #294457 inset;
padding-bottom: 2px;
padding-right: 3px;
}
.formCopyrightNotice {
display: none;
}
#mobileVPSStats {
display: none;
}
.vpsStat {
text-align: center;
line-height: 40px;
background: #333;
padding: 5px;
color: #fff;
border: 5px solid #F1F2F5 !important;
font-size: 12px;
}
.vpsStat.online {
background: #7AD694;
}
.vpsStat.offline {
background: #D67A7A;
}
@media only screen and (max-width: 1729px) {
    #serverstatscontain > a {
    width: 50%;
    }
}
@media only screen and (max-width: 1247px) {
    #serverstatscontain > a {
    width: 100%;
    }
}
@media only screen and (max-width: 500px) {
    .loginform {
    width: 100% !important;
    }
    #containlogin {
    background: #477593 !important;
    border-top: 2px solid rgba(255, 255, 255, 0.11) !important;
    box-shadow: 0 -1px 12px rgba(0, 0, 0, 0.28) !important;
    width: 100%;
    height: calc(100% - 92px);
    margin: 90px 0 0 0;
    left: 0;
    top: 0;
    }
    body.login .logo {
    padding-top: 26px !important;
    }
    body.login form#form1 {
    background: none !important;
    padding: 30px !important;
    height: 100% !important;
    width: 100% !important;
    box-sizing: border-box !important;
    -moz-boz-sizing: border-box !important;
    }
    body.login form#form1 input#textfield {
    width: 90% !important;
    line-height: 27px !important;
    }
    body.login button#button {
    width: 37% !important;
    height: 44px !important;
    font-size: 16px !important;
    border-radius: 5px !important;
    position: relative !important;
    top: 22px !important;
    }
    body.login a[href="forgot.php"] {
    text-align: center !important;
    color: #fff !important;
    padding: 13px !important;
    font-size: 15px !important;
    }
    body.login .formCopyrightNotice {
    display: block;
    color: #fff;
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: 100%;
    }
    body.login .copyright {
    display:none;
    }
    .forgotpwdlnk {
    position: relative;
    line-height: 47px;
    top: 21px;
    }
    .dataTables_filter input {width: 85px !important;}
    .whitebox{width:100%;}
    .tab {
    padding: 10px 7px !important;
    }
    #page table thead th, table thead td {
    line-height: 16px;
    }
}
@media only screen and (max-width: 529px) {
    .fluidbox.statusbox > div:nth-child(3) {
    width: 60%;
    }
    .fluidbox.statusbox > div:nth-child(2) {
    width: 40%;
    }
    
    .fluidbox.statusbox > div:nth-child(2) span {
    background: rgba(0, 0, 0, 0.36);
    line-height: 20px;
    padding: 3px 7px;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15) inset;
    width: 100%;
    display: block;
    box-sizing: border-box;
    margin-bottom: 5px;
    font-size: 12px;
    text-align: center;
    }
    .fluidbox.statusbox > div:nth-child(2) .progressContain {
    display: none;
    }
    .fluidbox.statusbox > div:nth-child(2) .progressContain {
    display: none;
    }
}
@media only screen and (max-width: 960px) {
    #tabConWrap {width: 100%;}
    #page-wrapper, #right-wrap {
    width:100%;
    }
    #sbtoggle {
    display: block !important;
    }
    .tabs.primarytabs {
    left:50px;
    }
    #sidebar {
    margin-left: -195px;
    width: 195px !important;
    position: fixed;
    border-right: 5px solid #294457;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.35);
    z-index: 12 !important;
    -webkit-transition: margin-left 0.3s;
    -moz-transition: margin-left 0.3s;
    -ms-transition: margin-left 0.3s;
    transition: margin-left 0.3s;
    }
    .navsub li {
    text-indent: 55px !important;
    }
    #header {
    width: 195px !important;
    }
    #profilebox {
    margin-left: 25px !important;
    }
    #SearchSystem {
    background: url(../img/tpl/icon_search.png) 6px 13px no-repeat #274459 !important;
    height: 35px !important;
    width: 171px !important;
    margin-left: 10px !important;
    text-indent: 26px !important;
    }
    ul.navsub li.active:after {
    background: transparent !important;
    display: none !important;
    }
    .tabs.primarytabs {
    height: 48px;
    top: 0;
    }
    .tab {
    height: 23px;
    width: 28px;
    padding: 10px;
    font-size: 28px;
    text-align: center;
    margin-right: 0px;
    }
    .tab span {
    display: none;
    }
    .tab i {
    font-size: 28px !important;
    line-height: 25px;
    }
    #sb-inner {
    overflow-y: auto;
    position: absolute;
    height: 100%;
    overflow-x: hidden;
    }
    #sidemenu > ul > li {
    font-size: 14px !important;
    }
    #licenseNotif {
    position: initial;
    }
    .pure-u-sm-1 {width: 100%;}
}
@media only screen and (max-width: 480px) {
    table.striped-table tbody tr td {
    padding: 0px;
    font-weight: bold;
    line-height: 20px;
    }
    .pure-form-aligned .pure-control-group label {
    width: 100% !important;
    word-spacing: normal;
    letter-spacing: normal;
    }
    #page .pure-form input[type=text], #page .pure-form input[type=password], #page .pure-form input[type=email], #page .pure-form input[type=url], #page .pure-form input[type=date], #page .pure-form input[type=month], #page .pure-form input[type=time], #page .pure-form input[type=datetime], #page .pure-form input[type=datetime-local], #page .pure-form input[type=week], #page .pure-form input[type=number], #page .pure-form input[type=search], #page .pure-form input[type=tel], #page .pure-form input[type=color], #page .pure-form select, #page .pure-form textarea, #page .chosen-container {
    width:100% !important;
    }
    #serverstatscontain > a {
    width: 100%;
    }
}
@media only screen and (max-width: 722px) {
    #sidebar2 {
    display: none !important;
    }
    #page-wrapper {
    width: calc(100% - 1em) !important;
    }
    #mobileVPSStats {
    display: -webkit-flex !important;
    display: flex !important;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 16px;
    }
}

/* Google Charts */

.google-visualization-tooltip {
top: 0px;
margin-top: -8px;
z-index: 999;
box-shadow: none;
background: #111 !important;
float: right;
position: absolute !important;
left: -97px !important;
text-align: left;
top: 28px !important;
}
.google-visualization-tooltip ul {
margin: 0 !important;
}
.google-visualization-tooltip ul li{
margin: 4px 0 !important;
}
.google-visualization-tooltip ul li span{
color: #fff !important;
display:inline-block;
margin: 0 10px;
}

/* Google Charts */

/* Random fixes */
input#ConsoleInput:focus {
border: 0.5em solid rgba(255, 0, 0, 0);
}
